@import "../node_modules/bootstrap/scss/bootstrap.scss" ;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.MulishBold{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 3.3rem ;
    color: #3957f1
    ;
}
.MulishRegular{
    font-family: 'Mulish', sans-serif;
    font-weight: 400 ;
    font-size: 1.50rem ;
    color: #15163d ;
    margin-top: 0.5rem;
}
body{
    border: 1px solid gray;
    padding: 5%;
    margin: 1rem;
    
}

@media(max-width: 992px){
   div {flex-wrap: wrap;
    justify-content: center;
    }
}
@media(max-width: 768px){
    div{
        flex-flow: column;
        justify-content: center;
        
    }
}

