@import "../node_modules/bootstrap/scss/bootstrap.scss" ;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

.MulishBold{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 5.6rem ;
    color: #0a2ff1;
}
.MulishBoldTwo{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.5rem ;
    color:white
}
.MulishRegular{
    font-family: 'Mulish', sans-serif;
    font-weight: 400 ;
    font-size: 1rem ;
    color:white;
}
body{
    border: 1px solid gray;
    padding: 5%;
    margin: 1rem;
    
}
.card-img-overlay{
    top: unset ;
    padding: unset;
}
p{
    margin-bottom: unset;
}
.marginC{
   text-align: center;
}
h1{
    text-align: left;
   margin-bottom: 30px;
   
}
.card{
    border: unset;
}

    
@media(max-width: 992px)
  {
    div {flex-wrap: wrap;
    justify-content: center;
    }
    .card-img-top{
        max-width: 300px;
    }
  
  }
@media(max-width: 768px){
   div{flex-flow: column;
    justify-content: center;
    }
    .card-img-top{
        max-width: unset;
    }
 }
 
